<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Course</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body style="background-color:#E38054;" >
    <%- include('_navbar') %>
    <main id="content">
        <div class="max-w-[85rem] min-h-[75rem] mx-auto pt-12 pb-10 px-4 sm:px-6 lg:px-8 md:pt-24">
          <!-- your content goes here ... -->
          <h1 style="text-align: center;" class="mb-8 text-4xl">Register Now</h1>
          <form method="post" action="/register" style="padding: 20px;" class="max-w-sm mx-auto rounded-lg bg-[#FAEFDC] border-2 border-black ">
              <div class="mb-5">
              <label for="username" class="block mb-2 text-sm font-medium text-gray-900">Username</label>
              <input name="username" type="text" id="username" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" required />
              </div>
              <div class="mb-5">
                <label for="firstName" class="block mb-2 text-sm font-medium text-gray-900">First Name</label>
                <input name="firstName" type="text" id="firstName" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" required />
                </div>
                <div class="mb-5">
                    <label for="lastName" class="block mb-2 text-sm font-medium text-gray-900">Last Name</label>
                    <input name="lastName" type="text" id="lastName" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" required />
                    </div>
              <div class="mb-5">
                <label for="email" class="block mb-2 text-sm font-medium text-gray-900">Email</label>
                <input name="email" type="text" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" required />
                </div>
              <div class="mb-5">
              <label for="password" class="block mb-2 text-sm font-medium text-gray-900 ">Password</label>
              <input name="password" type="password" id="password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" required />
              </div>
              <div class="mb-5">
                <label for="dob" class="block mb-2 text-sm font-medium text-gray-900 ">Date of Birth</label>
                <input name="dateOfBirth" type="date" id="dob" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" required />
                </div>
            
        <label for="password" class="block mb-2 text-sm font-medium text-gray-900 ">Role</label>
        <div class="flex mb-5">
            <div class="flex items-center me-4">
                <input id="inline-radio" type="radio" value="Student" name="role" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500">
                <label for="inline-radio" class="ms-2 text-sm font-medium text-gray-900">Student</label>
            </div>
            <div class="flex items-center me-4">
                <input id="inline-2-radio" type="radio" value="Teacher" name="role" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500">
                <label for="inline-2-radio" class="ms-2 text-sm font-medium text-gray-900">Teacher</label>
            </div>
        </div>

              <button type="submit" class="text-white bg-[#7CA66E] hover:bg-[#7EAECD] focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center ">Register</button>
          </form>
         
        </div>
      </main>
  
    
</body>
</html>