<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AlifBaa</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body style="background-color: #7EAECD;">
    <%- include('_navbar') %>
  <!-- ========== MAIN CONTENT ========== -->
  <main style="background-color: #7EAECD;" id="content">
    <div class="max-w-[85rem] min-h-[75rem] mx-auto pt-12 pb-10 px-4 sm:px-6 lg:px-8 md:pt-24">
      <!-- your content goes here ... -->
      <div class="flex items-center justify-center">
        <div>
            <h1 class="text-4xl font-bold mb-5">Discover Arabic <br> step by step, with our <br> friendly learning approach.</h1>

        </div>
        <div style="width: 300px; height: 300px; background-color: #E38054;">
            <img src="assets/okeh.png" alt="">
        </div>
      </div>
      
    </div>
  </main>
  <!-- ========== END MAIN CONTENT ========== -->
  <main style="background-color: #E38054;" id="content">
    <div class="max-w-[85rem] min-h-[75rem] mx-auto pt-12 pb-10 px-4 sm:px-6 lg:px-8 md:pt-24">
      <!-- your content goes here ... -->
      
    </div>
  </main>
    
</body>
</html>