<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AlifBaa</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body style="background-color:#E38054 ;">
    <%- include('_navbarteacher') %>
  <!-- ========== MAIN CONTENT  ========== -->
  <main style="background-color: #E38054" id="content">
    <div class="max-w-[100vw] min-h-[100vh] mx-auto pt-12 pb-10 px-4 sm:px-6 lg:px-8 md:pt-24">
      <!-- your content goes here ... -->
      <div class="flex items-center justify-center">
        <div>
            <h1 class="text-4xl font-bold mb-5">In the world of self-teaching, <br> every contribution is a <br> cornerstone of collective success.</h1>
            <a href="/teachers/<%= userData.id %>/courses/add" type="button" class="border-2 border-black text-black bg-white hover:bg-[#7CA66E] focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2">Contribute</a>
        </div>
        <div>
            <img src="https://i.ibb.co.com/02m7vwF/Untitled-design-3-removebg-preview.png" alt="" width="400px" height="400px">
        </div>
      </div>
      
    </div>
  </main>
    
</body>
</html>